body{background-color: #60ebdf;
	margin: 0px;
}
.images{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}
h2:{
	font-family:fantasy;
	font-size: 3em;
	border-bottom: 5px solid blue;
	border-right: 5px;
	width: 250px;
	text-align: center;
	-webkit-box-shadow:4px 4px 5px #888888;
	box-shadow: 4px 4px 5px #888888;	
}

img {
	width: 255px;
	height: 200px;
	margin : 20px;
	transition: all 0.5s;
}
img:hover{
	transform: scale(1.3);
}


	
